<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/vendors/eggy.css" />
    <link rel="stylesheet" href="css/vendors/progressbar.css" />
    <link rel="stylesheet" href="css/vendors/theme.css" />
    <title>Notas y tareas</title>
  </head>
  <body>
    <div id="spinner">
      <div class="loader">Loading...</div>
    </div>

    <div class="container">
      <div class="modal">
        <div class="modal-dialog">
          <i class="gg-close" id="close"></i>
          <h2 class="modal-title">Crear categoría</h2>
          <div class="modal-content">
            <p class="modal-text">
              Para crear una nueva categoría debe de especificar todos los
              campos.
            </p>
            <form id="form-create">
              <div class="input-row">
                <div class="input-group">
                  <label for="title">Título de la categoría</label>
                  <input
                    type="text"
                    class="input"
                    id="title"
                    name="title"
                    placeholder="Hola! soy una categoría"
                    required
                  />
                </div>

                <div class="input-group">
                  <label for="desc">Descripción de la categoría</label>
                  <textarea
                    type="text"
                    class="input"
                    id="desc"
                    name="desc"
                    placeholder="Puedes escribir más aquí!"
                    required
                  ></textarea>
                </div>

                <div class="input-group">
                  <input
                    type="hidden"
                    form="form-create"
                    name="icon"
                    value=""
                    id="_icon"
                  />
                  <div class="input dropdown">
                    <span for="icon">Icóno</span>
                    <ul id="icon"></ul>
                  </div>
                </div>

                <button class="btn" role="button">Crear categoría</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="wrapper">
        <div class="nav">
          <h1 class="nav-title">Notas y tareas</h1>
          
          <p class="nav-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
            distinctio, ratione vel alias impedit illum non?
          </p>

          <button class="nav-create" id="btn-create">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 4C11.4477 4 11 4.44772 11 5V11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H11V19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19V13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11H13V5C13 4.44772 12.5523 4 12 4Z"
                fill="currentColor"
              />
            </svg>
            Crear nuevo
          </button>

          <div class="btn-exports">
            <button class="btn" id="export-sections">Exportar secciones</button>
            <button class="btn" id="export-tasks">Exportar tareas</button>
          </div>

          <div class="btn-imports">
            <button class="btn" id="import-sections">Importar secciones</button>
            <button class="btn" id="import-tasks">Importar tareas</button>
          </div>

          <p>Secciones creadas anteriormente:</p>

          <ul class="nav-sections" id="sections"></ul>
        </div>

        <div class="content">
          <div class="tasks" id="tasks">
            <div class="task">
              <div class="task-title">
                <h3>Cepillarme los dientes</h3>
              </div>
              <p class="task-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
                excepturi recusandae quo porro neque optio vitae, reiciendis
                temporibus.
              </p>

              <footer class="task-footer">
                <svg
                  width="15"
                  height="15"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M9 7H11V12H16V14H9V7Z" fill="currentColor" />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM20 12C20 16.4183 16.4183 20 12 20C7.58172 20 4 16.4183 4 12C4 7.58172 7.58172 4 12 4C16.4183 4 20 7.58172 20 12Z"
                    fill="currentColor"
                  />
                </svg>
                <time datetime="2022-01-12" class="task-date">12-01-2022</time>
              </footer>
            </div>

            <div class="task task-finished">
              <div class="task-done">
                <svg
                  class="task-done"
                  width="28"
                  height="28"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.2426 16.3137L6 12.071L7.41421 10.6568L10.2426 13.4853L15.8995 7.8284L17.3137 9.24262L10.2426 16.3137Z"
                    fill="currentColor"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12ZM12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21Z"
                    fill="currentColor"
                  />
                </svg>
              </div>

              <div class="task-title">
                <h3>Cepillarme los ñwkw3jrprj3p4jp3rj34pop434orp34jo</h3>
              </div>
              <p class="task-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
                excepturi recusandae quo porro neque optio vitae, reiciendis
                temporibus.
              </p>

              <div class="task-status">
                <input id="c2" type="checkbox" checked />
                <label for="c2">Estado de la tarea</label>
              </div>

              <footer class="task-footer">
                <svg
                  width="15"
                  height="15"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M9 7H11V12H16V14H9V7Z" fill="currentColor" />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM20 12C20 16.4183 16.4183 20 12 20C7.58172 20 4 16.4183 4 12C4 7.58172 7.58172 4 12 4C16.4183 4 20 7.58172 20 12Z"
                    fill="currentColor"
                  />
                </svg>
                <time datetime="2022-01-12" class="task-date">12-01-2022</time>
              </footer>
            </div>

            <div class="task">
              <div class="task-title">
                <h3>Cepillarme los dientes</h3>
              </div>
              <p class="task-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
                excepturi recusandae quo porro neque optio vitae, reiciendis
                temporibus.
              </p>

              <footer class="task-footer">
                <svg
                  width="15"
                  height="15"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M9 7H11V12H16V14H9V7Z" fill="currentColor" />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM20 12C20 16.4183 16.4183 20 12 20C7.58172 20 4 16.4183 4 12C4 7.58172 7.58172 4 12 4C16.4183 4 20 7.58172 20 12Z"
                    fill="currentColor"
                  />
                </svg>
                <time datetime="2022-01-12" class="task-date">12-01-2022</time>
              </footer>
            </div>

            <div class="task">
              <div class="task-title">
                <h3>Cepillarme los dientes</h3>
              </div>
              <p class="task-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
                excepturi recusandae quo porro neque optio vitae, reiciendis
                temporibus.
              </p>

              <footer class="task-footer">
                <svg
                  width="15"
                  height="15"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M9 7H11V12H16V14H9V7Z" fill="currentColor" />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM20 12C20 16.4183 16.4183 20 12 20C7.58172 20 4 16.4183 4 12C4 7.58172 7.58172 4 12 4C16.4183 4 20 7.58172 20 12Z"
                    fill="currentColor"
                  />
                </svg>
                <time datetime="2022-01-12" class="task-date">12-01-2022</time>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script src="./js/vendors/FileSaver.js"></script>
    <script type="module" src="./js/api.js"></script>
    <script type="module" src="./js/app.js"></script>
    <script>
      //   Cookies.set("token", "wer34r34rr34r43r34wefrfwerwer", {
      //     expires: 365,
      //     httpOnly: true,
      //   });
    </script>
  </body>
</html>
